bug.png
ElevenClock.exe
elevenclock_bin/
ElevenClockBin/
elevenclock\__init__.spec
elevenclock\lang\__pycache__\*
*.pyc
*.pyo
__init__
ElevenClock.zip
*.code-workspace
elevenclock/lang/lang_backup*

# generate_release.py
RELEASE.md

# Virtual environments
venv/
env/

# Intellij Cache and Settings folder
.idea/
elevenclock.py
compile.py
build_BETA.bat
APIKEY.txt
ElevenClock.Installer.exe
__init__.exe
ElevenClock.Installer.exe.zip
.vs/
scripts/APIKEY.txt
sign.cmd.lnk
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
